<h1>All The Songs in Our Hub</h1>
<a href="/logout" data-method="post">Logout</a>
<table>
  <thead>
    <th>Artist</th>
    <th>Song Title</th>
    <th>Number Of Times Song Has Been Added</th>
    <th>Add to Playlist</th>
  </head>
  <tbody>
    <% if true %>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td><button>Add</button></td>
      </tr>
    <% end %>
  </tbody>
</table>
<form>
  <h3>Add a Song</h3>
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">  
  <label for="name">Song Name</label>
  <input type="text" name="name">
  <label for="artist">Artist</label>
  <input type="text" name="artist">
  <input type="submit" value="Create Song">
</form>