<table>
  <thead>
    <th>Artist</th>
    <th>Song Title</th>
    <th>Number Of Times Song Has Been Added</th>
    <th>Add to Playlist</th>
  </head>
  <tbody>
    <% if true %>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>